
header {
    background-image: linear-gradient(  white, #50a557d2);
    height: 70vh;
    padding: 40px;

}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 10%;
}

.nav-menu {
    display: flex;
    align-content: space-around;
    justify-items: stretch;
}

ul {
    list-style-type: none;
    text-transform: capitalize;
}

#navigation-container {
    display: flex;
    margin-top: 6%;
}

#navigation-text-container {
    width: 30%;
}

#navigation-image-container {
    justify-content: center;
    width: 500px;
/* justify-content: ce?nter; */
}

#nan { 
    justify-items: right;
}


#nav-button {
    background-color: rgb(169, 224, 169);
    border-radius: 15px;
    font-size: 15px;
    padding: 5px 10px 5px 10px ;
    
}

#menu-button {
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 20px 10px 20px ;
    color: green;
    background-color: rgb(169, 224, 169);
    
}

#icon-container-button {
    display: flex;
    justify-content: space-between;
}

#icon-button { 
    color: white;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(169, 224, 169);
    
}

.review-box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.flex-images {
    display: flex;
    border-radius: 8px;
}

#logo-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#hero-section {

}

.text-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-container > div > h1 {
    width: 80%;
}

.text-container > div > li > a {
    color:rgb(169, 224, 169);
    list-style-type: none;
    text-transform: capitalize;
}

#flex-card {
    display: flex;
    justify-content: space-between;
}

#flex-card > div > img {
    border-radius: 20px;
}


